# Question 1

1.What exactly is [] ?

In [ ]:
Ans :
    
In python , lists are written inside [] .Lists are ordered sequence of objects that can be of any data types .A list can be collection of strings ,integers boolean or all .
Example : new_list = [1,3,2,"a","B"]

# Question 2

In [ ]:
2.In a list of values stored in a variable called spam, how would you assign the value "hello" as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [3]:
spam = [2, 4, 6, 8, 10]
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

# Question 3

In [ ]:
Let's pretend the spam includes the list ['a','b', 'c','d'] for the next three queries.

In [ ]:
3.What is the value of spam[int(int('3' * 2) / 11)]?

In [3]:
#Ans :The value will be "d"
spam = ['a','b', 'c','d']
spam[int(int('3' * 2) / 11)]

'd'

# Question 4

In [ ]:
4. What is the value of spam[-1]?

In [4]:
#ans :

spam =['a','b', 'c','d']
spam[-1]
# This will print the list from reverse .

'd'

# Question 5

In [ ]:
5.What is the value of spam[:2]?

In [5]:
#Ans :

spam =['a','b', 'c','d']
spam[:2]

#This will print from 0th index till 2nd index excluding the 2nd index .

['a', 'b']

# Question 6

In [ ]:
Let's pretend bacon has the list [3.14, 'cat' ,'11','cat', True] for the next three questions.

6.What is the value of bacon.index('cat')?

In [6]:
#Ans :
# .index() method returns the index number of the first occurence of given element in the list.
bacon = [3.14, 'cat' ,'11','cat', True]
bacon.index('cat')

#'cat' is there in the 1st index .It only gives the first occurence value.

1

# Question 7

7.How does bacon.append(99) change the look of the list value in bacon?

In [2]:
# Ans :
bacon = [3.14, 'cat' ,'11','cat', True]
bacon.append(99)
print(bacon)
# .append () adds element at the end of the list .So (99) will be added at the end of the list .

[3.14, 'cat', '11', 'cat', True, 99]

# Question 8

8.How does bacon.remove('cat') change the look of the list in bacon?

In [3]:
# .remove() method directly removes the element in ().
bacon = [3.14, 'cat' ,'11','cat', True]
bacon.remove('cat')
print(bacon)
 
#It removed the first "cat" from the list bacon .

[3.14, '11', 'cat', True]

# Question 9

9.What are the list concatenation and list replication operators?

In [4]:
# List concatenation means addding two or more lists together.
#Example :

list1 =[1,3,5,7,9]
list2 =[2,4,6,8,10]

new_list = list1 + list2

print(new_list)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

# Question 10

10.What is difference between the list methods append() and insert()?

Ans :
    
Both .append() and .insert() methods are used for adding elements inside the list
.append method adds element at the end of the list .

.insert can add the element at the desired index  . insert(index,value)
specify the index and value according to us .

# Question 11

11.What are the two methods for removing items from a list?

In [ ]:
Ans : 

Two methods for removing items from a list are :- .pop() nd .remove().
.pop() removes a single item from the end whereas .remove()  removes the item  directly from the list written inside()

# Question 12

12.Describe how list values and string values are identical.

Ans : 

Both list values and string values are identical with respect to their index values .Each individual items can be accessed throgh their indexes

# Question 13

13.What's the difference between tuples and lists?

Ans :
    
Lists are ordered sequence of objects that can be of any data types. Lists in python are mutable i.e. we can modify each individual item separetely whereas tuples are immutable lists i.e we cannot change each individual item separetely.

# Question 14

14.How do you type a tuple value that only contains the integer 42?

In [6]:
#Ans :
    
tuple = (42,)
# A tuple with single value has a , at the end .

In [7]:
tuple

(42,)

# Question 15

15 How do you get a list value's tuple form? How do you get a tuple value's list form?

Ans :
    
We can convert tuple into list by using "list"keyword and list into tuple by "tuple" keyword

In [1]:
#Example : 

list1 = [1,2,3,3,4,4]

In [2]:
list1

[1, 2, 3, 3, 4, 4]

In [3]:
tuple(list1)   #This list is converted into tuple

(1, 2, 3, 3, 4, 4)

In [4]:
tuple1 = (1,2,3,4,5)

In [5]:
list(tuple1)  #this tuple is converted into list

[1, 2, 3, 4, 5]